body {
    background-image: url('https://images.pexels.com/photos/707582/pexels-photo-707582.jpeg');
    background-size: cover;
    background-position: top;
    font-family: cursive;
}

.container {
    background-color: #d5dde3;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0px 8px 64px;
    width: 660px;
    margin: 200px;
    margin-left: 100px;
    padding-top: 2rem;
    
}



button {
    padding: 1rem 2rem;
    margin: 20px;
    border-radius: 1rem;
    font-size: large;
}
.increase {background-color: green; }
.decrease {background-color: red;}
.reset {background-color: aqua;}